#ui-selectTime {
}
#ui-selectTime .select {
	left: -9999px;
	position: absolute;
}
#ui-selectTime .option {
	border-radius: 50%;
	height: 2em;
	left: -1em;
	line-height: 2em;
	position: absolute;
	text-align: center;
	top: -1em;
	transform: rotate(  0deg) translateY( 0em);
	transition: none;
	width: 2em;
}
#ui-selectTime.active .option {
	transition: transform 250ms;
}
#ui-selectTime .am,
#ui-selectTime .pm {
	height: 4em;
	left: -2em;
	line-height: 4em;
	top: -2em;
	width: 4em;
}
#ui-selectTime.b-am .pm,
#ui-selectTime.b-pm .am {
	display: none;
}

#ui-selectTime.active .option:nth-child(1) {
	transform: rotate( 30deg) translateY(-3em);
}
#ui-selectTime.active .option:nth-child(2) {
	transform: rotate( 60deg) translateY(-3em);
}
#ui-selectTime.active .option:nth-child(3) {
	transform: rotate( 90deg) translateY(-3em);
}
#ui-selectTime.active .option:nth-child(4) {
	transform: rotate(120deg) translateY(-3em);
}
#ui-selectTime.active .option:nth-child(5) {
	transform: rotate(150deg) translateY(-3em);
}
#ui-selectTime.active .option:nth-child(6) {
	transform: rotate(180deg) translateY(-3em);
}
#ui-selectTime.active .option:nth-child(7) {
	transform: rotate(210deg) translateY(-3em);
}
#ui-selectTime.active .option:nth-child(8) {
	transform: rotate(240deg) translateY(-3em);
}
#ui-selectTime.active .option:nth-child(9) {
	transform: rotate(270deg) translateY(-3em);
}
#ui-selectTime.active .option:nth-child(10) {
	transform: rotate(300deg) translateY(-3em);
}
#ui-selectTime.active .option:nth-child(11) {
	transform: rotate(330deg) translateY(-3em);
}
#ui-selectTime.active .option:nth-child(12) {
	transform: rotate(360deg) translateY(-3em);
}

#ui-selectTime .option {
	font-size: 20px;
}
#ui-selectTime.am {
}
#ui-selectTime.b-am .select-hour .option {
	background-color: #9cf;
}
#ui-selectTime.b-pm .select-hour .option {
	background-color: #fc9;
}
