body {
  margin: 0;
  min-height: 5000px; }

.ui-tableView {
  display: block;
  overflow: hidden;
  width: 100%; }
  .ui-tableView > tbody {
    display: block; }
  .ui-tableView-row {
    display: block; }
  .ui-tableView-cell {
    display: block; }
    .ui-tableView-cell-subtitle {
      color: #999;
      font-size: 0.7em; }
  .ui-tableView-delete {
    background-color: #f00;
    box-sizing: border-box;
    color: #fff;
    display: block;
    padding-right: 1em;
    position: absolute;
    text-align: right;
    top: -9999px;
    width: 100%;
    z-index: -1; }

.ui-tableView-row {
  border-color: #999;
  border-style: none none solid;
  border-width: 1px; }
  .ui-tableView-row:first-child {
    border-style: solid none; }
