body {
  margin: 0;
  min-height: 5000px; }

.ui-tableView {
  display: block;
  overflow: hidden;
  width: 100%; }
  .ui-tableView > tbody {
    display: block; }
  .ui-tableView-row {
    display: block; }
  .ui-tableView-cell {
    display: block; }
    .ui-tableView-cell-subtitle {
      color: #999;
      font-size: 0.7em; }

.ui-tableView-row:nth-child(2n) {
  background-color: #eee; }
