body
	margin: 0
	min-height: 5000px;

$ui-tableView-subtitleColor: #999
$ui-tableView-subtitleSize: 0.7em

.ui-tableView
	display: block
	overflow: hidden
	width: 100%

	&>tbody
		display: block

	&-row
		display: block

	&-cell
		display: block

		&-title

		&-subtitle
			color: $ui-tableView-subtitleColor
			font-size: $ui-tableView-subtitleSize

// --------------------------------

.ui-tableView
	&-row
		&:nth-child(2n)
			background-color: #eee
		&:nth-child(2n+1)
